/* body{
    background-color: pink;
} */
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color:black !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-socials i{
    font-size: 1.5rem;
    margin-right: 1rem;
}
.f-info-links ,.f-socials{
    width: 100%;
}
.f-info{
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.listing-card{
    border:none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover  !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400;
}
.list-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.btn-add,.edit-btn{
    background-color:#fe424d !important; 
    border: none  !important;
}
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
    margin-bottom: 10px !important;
}
#map { 
    height: 400px;
    width: 80vh;
}