<%- layout("layouts/boilerPlate") %>
<div class="row">
    <h1 class="col-6 offset-3">SignUp on WanderLust</h1>
    <div class="col-6 offset-3">
        <form action="/signup" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" placeholder="Enter Username" class="form-control" id="username" required>
                <div class="valid-feedback">Looks Good!</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" type="email" placeholder="Enter Email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" placeholder="Enter Password" class="form-control" id="password" required>
            </div>
            <button class="btn btn-success mb-3 col-2 offset-5">Sign Up</button>
        </form>
    </div>
</div>
